body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    width:98%;
    min-width:900px;
    margin:auto;}


img {
    width:100%;
    border:0px; }

a {
    text-decoration:none;
    color:#000;}

a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

.header{
    background-color:#000;
    color:#FFF;
    height:97px;
    width:100%; }

.logo {
    background-color:#000;
    width:15%;
    text-align:center;
    color:#FFF;
    padding-top:1%; }

.add_cart{
    background-color:#000;
    width:100px;
    color:#FFF;
    margin-top:20px; }

.container {
    width:95%;
    margin-top:10px;
    min-height:550px;}

.location {
    margin-top:33px;
    margin-left:7px; }

.location a {
    color:#FFF; }

.search {
    position:relative;
    width:50%;
    margin-top:30px;
    margin-left:15px;}

.search input{
    margin-top: 0px;
    position:absolute;
    width: 85%;
    padding: 5px;}

.search_sign {
    width: 30px;
    height: 0px;
    position: absolute;
    margin-left: 77%;
    margin-top:0; }

.dropdown {
    width:95%;
    height:100%;}

.loction_img {
    width:10px;
    margin:0 5px; }

.country{
    color:#e7c271;}

.add_count {
    margin-top:15px; }


.username {
    color:#FFF;
    font-size:18px;
    margin:35px 3% 0 0;
    width:14%;}

.blank {
    width:15%;}

.logo1 {
    width:15%;
    text-align:center;
    padding-top:1%;}

.add_to_cart {
    background-color:#F2F0F0;
    padding:10px;
    margin:5px -10px -10px -10px;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    min-height:40px;
    max-height:40px;
    overflow:hidden;}

#cm {
    width: 45px;
    padding: 10px;
    margin-top: 25px;}

#my_profile {
    position:relative;
    width: 35px;
    padding: 0px 10px;}


#primary {
    display: block;
    width: 200px;
    position: absolute;
    top: 97px;
    background-color: #e7c271;
    display:none;z-index:100000}

#primary ul{
    list-style-type:none;
    padding:0px;
    font-size:18px;
    margin-left:5px;
    text-transform:uppercase;}

#primary li{
    padding:5px;
    width: 95%;}

#primary li:hover{
    background-color:black;}

#primary li:hover a{
    color:white;
    width: 100%;}

#sign_out{
    display: block;
    width: 175px;
    z-index: 100000;
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
    background-color: #e7c271;
    display:none;z-index:100000}

#sign_out ul{
    list-style-type:none;
    padding:0px;}

#sign_out li{
    padding:5px;
    width: 93%;}

#sign_out li{
    color:#000;}

#sign_out li:hover{
    background-color:black;}

#sign_out li:hover a{
    color:white;
    width: 100%;}

.products {
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    padding:10px;
    min-height:323px;
    max-height:323px;
    overflow:hidden;}


.product_details {
    font-size:12px;
    margin:5px 0;
    max-height:50px;
    min-height:50px;
    overflow:hidden;}

.name {
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    min-height:15px;
    max-height:15px;
    overflow:hidden;}

.pop_products {
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    padding:10px;
    background-color:#e7c271;}

.pop_products a {
    text-transform:capitalize;}

.category {
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    margin-bottom:10px;
    width:100%; }

.top_bar p {
    font-size:16px;}

.top_bar {
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    padding:.5%;
    margin-bottom:10px;
    padding:10px;}

.footer {
    border:1px solid #000;
    background-color:#000;
    color:#FFF;
    margin-top:10px;
    width: 100%;
    padding: 10px 0;}


.footer_3 {
    text-align:center;
    width:33%;}

.price {
    font-size:15px;
    font-weight:bold;}

.img_product {
    padding:10px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    width: 44%;
    margin: .5%;}

.detail_product {
    padding:10px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    width: 52%;
    margin: .5%;}

.short_details {
    margin-top:10px;
    padding:10px;
    font-size:18px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;}

.Qty {
    margin-top:10px;
    padding:5px 10px 15px 5px;
    font-size:18px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;}

.final_price {
    margin:10px 0;
    font-size:18px;}

.add_btn a {
    background-color:#e7c271;
    font-size:16px;
    padding:10px;}

.product_description {
    padding:10px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;}


.login_page .lbar {
    width:57%;
    font-size:17px;
    padding:10px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    min-height:500px; }

.login_page .rbar h2 {
    margin-top:14px;
    font-size:28px;
    padding:8px;}

.login_page .rbar {
    width:40%;
    padding:10px;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    min-height:500px; }

.user_login {
    margin-top:25%;
    text-decoration:none;
    font-size:22px;}

.user_log {
    margin-left: 10px;
    width: 100%;;}

.log_btn {
    margin-left:32%;}

.log_btn .btn {
    background-color:#e7c271;
    font-size: 22px;
    padding: 10px 50px;
    margin: auto; }

.user_name input {
    padding:5px 0;
    width: 95%;}

.forget_password {
    width:100%;
    text-align:center;
    font-size:18px;
    margin-top:20px;}

.login_page .user_name {
    margin-bottom:10px;
    margin-left:10px;
    width:100%;}

@media (min-width: 1450px) {
    .logo, .logo1 {width:11%;}
}

@media (max-width: 1200px) {
    .logo, .logo1 {padding-top:2%}
}

@media (max-width: 1080px) {
    .img_product {width:44%;}
    .details_product { width:44.9%;}
}

.admin_menu {
    width:100%;
    background-color:#e7c271;}

.admin_menu ul li {
    display:inline;
    padding:0px 5px;
    color:#000;
    font-size:18px;
    font-weight:bold;
    position:relative;
    list-style:none;}

.admin_menu ul li a:hover {
    background-color:#000;
    font-size:18px;
    color:#FFF;}

.admin_menu ul li:hover > div {
    display:block;}

.admin_menu ul li a.active {
    background-color:#000;
    font-size:18px;
    color:#FFF;}

.admin_menu ul li a{
    padding:10px 5px;}

.matter {
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    padding:10px;
    font-size:16px;
    margin-top:10px;}

.setup {
    display:none;
    background-color:#e7c271;
    position:absolute;
    margin-top:45px;
    width: 200px;;}

.setup ul li {
    padding:0;
    color:#000;
    font-size:16px;
    font-weight:bold;
    list-style:none;
    width:100%;
    display:block;}

.setup ul li a:hover{
    background-color:#000;
    font-size:18px;
    color:#FFF;}

.setup ul{
    padding:0;}

.setup li a{
    width:93%;
    padding:5px 0 5px 15px!important;
    font-size:18px;}

.table {
    text-align:center;
    margin-top:10px;
    font-size:14px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-left:1px solid #CCC;
    min-height:500px;}

.table_3 {
    text-align:center;
    margin-top:10px;
    font-size:14px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-left:1px solid #CCC;}

.table_1{
    width:100%;
    margin-top:10px;
    font-size:16px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-left:1px solid #CCC;}

.table_4{
    width:100%;
    margin-top:10px;
    font-size:16px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-left:1px solid #CCC;}

.table td{
    border-bottom:1px solid #CCC;
    padding:10px 0;
    padding-right:5px;
    max-width:150px;
    overflow:hidden;
}

tr {
    max-height:42px;
    overflow:hidden;}

.table_3 td{
    border-bottom:1px solid #CCC;
    padding:10px 0;
    padding-right:5px;
    max-width:150px;
    overflow:hidden;
}

.table_1 table td input {
    padding:7px;
    width:95%;
}

.table table td input {
    padding:5px;	}

.table_1 table td .brand {
    padding:7px;
    width:95%;
}



.table th{background-color:#e7c271;
    padding:7px;
    font-size: 18px;
    text-align: center;}

.table_3 th{background-color:#e7c271;
    padding:7px;
    font-size: 18px;
    text-align: center;}

.edit_btn {
    background-color:#e7c271;
    padding:5px;}

.add_delete {
    margin-top:10px;
    width:98%;}

.table_1 {
    padding: 10px 20%;}

.add_delete button{
    background-color:#e7c271;
    font-size: 16px;
    outline:0px;
    padding: 5px 25px;}

.save_close {
    margin:20px;
    width:100%;}

.save_close button{
    background-color:#e7c271;
    font-size: 16px;
    outline:0px;
    padding: 5px 25px;}


.prv_btn, .nxt_btn, .line_count{
    width:25px;
    margin-top:5px;}

.line_count{
    margin-top:10px;
    width: 100px;
    margin-left: 5px;}

.margin_top {
    margin-top:10px;}

.l_bar {
    width:50%;}

.r_bar {
    width:50%;}

.pop_delivered {
    background: url(images/calender.jpg)no-repeat right;
    background-size: 25px;
    cursor:pointer;}

.qty_select {
    padding:5px;
    width:50px;}


.Add_city .table td {
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    padding-right: 5px;
    max-width:150px;
    overflow:hidden;
}

.Add_state .table td {
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    padding-right: 5px;
}

.Add_country .table td {
    border-bottom: 1px solid #CCC;
    padding: 5px 0;
    padding-right: 5px;
}

.products_img {
    min-height:170px;
    max-height:170px;
    overflow:hidden;}

.add_to_btn a {
    background-color:#e7c271;
    font-size:16px;
    font-weight:bold;
    padding:10px;}

.add_new {
    text-align:left;
    padding:10px;
    margin-left:20px;}

.shipping_info {
    text-align:left;
    padding:10px;
    margin-left:40px;}


.search_addcart {
    width:53%;}

.item {
    padding:5px;}

.item_code {
    padding:5px 0;}

.table .l_bar {
    width:35%}

.table .r_bar {
    width:65%;}

.saved_address {
    margin-left:50px;
    font-size:18px;
    margin-bottom:15px;}

.fix_address {
    margin-top:10px;
    font-size:16px;
    width:100%;}

.address {
    height:60px;
    overflow:hidden;}

.saved_1 {
    padding:0 10px;}

.fix_height{
    height:25px;}

.saved_l_bar {
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    width:44%;
    padding:0px;
    margin:10px;}

.saved_r_bar {

    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    padding:10px;
    width:51%;
    margin:10px;}

.use_saved {
    text-align:center;
    font-weight:bold;
    border-top:1px solid #CCC;
    width:100%;}


.billing_info {
    padding:10px;
    width:30%;
    font-weight:bold;
    font-size:18px;
    text-align:center;}

.active_1 {
    background-color:#000;
    color:#FFF;}

.table_5 {
    width:52%;
    text-align:center;
    margin-top:10px;
    font-size:14px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-left:1px solid #CCC;
    padding:10px;}

#hider {
    height: 100%;
    width: 100%;
    position:absolute;
    z-index:9999;
    display:none; }

.qty_select {
    width:150px;}

.qty_1 input{
    width:35px;}

.name_input input {
    width:90%;
    height:50px;}

.search_select {
    width: 85%;
    padding: 7px;}

.text_area textarea{
    width: 98%;
    height:80px;}

.city input {
    width:98%;}

th {
    text-align:center;}

.table table td input {
    padding: 7px;
    width: 95%;
}
.search_2 input{
    margin-top: 0px;
    position:absolute;
    width: 50%;
    padding: 5px;}
.search_2 {
    position:relative;
    width:50%;
    margin-left:15px;}

.search_sign_2{
    width: 30px;
    height: 0px;
    position: absolute;
    margin-left: 45%;
    margin-top:0; }

.search_by {
    font-size:18px;
    margin-left:10px;}